@mixin common {
  font-family: $Open_Font;
  color: $Purple_color;
}

@mixin verticle {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-family: $Open_Font;
  color: $Purple_color;
  font-size: 1.5rem;
}

.banner_section {
  box-shadow: 2px 6px 13px -6px rgba(0, 0, 0, 0.4);
  background: url(../Assets/Banner_Section/back.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  overflow: hidden;

  & .main_div {
    position: absolute;
    width: 75vw;
    height: 150vh;
    background-color: #d5dcdc;
    top: -10rem;
    left: -50rem;
    border-radius: 50%;

    & .circle {
      position: absolute;
      width: 75vw;
      height: 150vh;
      top: 0rem;
      left: -7rem;
      background-color: white;
      border-radius: 50%;
      box-shadow: 8px -1px 14px -3px rgba(0, 0, 0, 0.43);

      & .logo_div {
        position: absolute;
        top: 13rem;
        left: 59rem;
        margin: 2rem;

        & .dots {
          position: absolute;
          top: -2rem;
          left: -2rem;
        }

        & .logo {
          height: 40%;
          width: 40%;
        }
      }

      & .text_div {
        position: absolute;
        top: 20rem;
        left: 59rem;
        margin: 6rem 2rem 2rem 2rem;
        height: 50vh;
        width: 18vw;

        & .title {
          font-size: 3rem;
          font-weight: 700;
          @include common;
          text-transform: uppercase;
          letter-spacing: 15px;
          line-height: 50px;
        }

        & .sub_title {
          @include common;
          font-size: 1.5rem;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 3px;
        }

        & .desc {
          margin-top: 1.5rem;
          @include common;
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 1px;
        }

        & button {
          padding: 0.7rem;
          background-color: $Purple_color;
          color: white;
          margin: 1rem 0 1rem -1rem;
          border-radius: 2rem;
          width: 14rem;
          font-size: 1rem;
          text-transform: uppercase;
          font-family: $Open_Font;
          font-weight: 700;
          letter-spacing: 1px;
          border: none;
          box-shadow: 25px 18px 31px -15px rgba(0, 0, 0, 0.33);
          cursor: pointer;
          transition: 0.4s;

          &:hover {
            color: $Purple_color;
            background-color: white;
            border: 2px solid $Purple_color;
            box-sizing: border-box;
          }
        }

        & .address {
          margin-top: 3rem;
          @include common;
          font-weight: 300;
          font-size: 0.9rem;
          line-height: 1.2rem;
        }

        & .site {
          margin-top: 3rem;
          @include common;
          font-weight: 700;
          font-size: 0.8rem;
        }
      }
    }
  }

  & .right_div {
    position: absolute;
    width: 75vw;
    height: 150vh;
    background-color: #d5dcdc;
    top: -10rem;
    right: -40rem;
    border-radius: 50%;

    & .circle {
      position: absolute;
      width: 75vw;
      height: 150vh;
      top: 0rem;
      right: -9rem;
      background-color: white;
      border-radius: 50%;
      box-shadow: -8px -1px 8px -3px rgba(0, 0, 0, 0.43);
      z-index: 1;

      & .first {
        position: absolute;
        width: 50vw;
        height: 100vh;
        border: 1px solid $Purple_color;
        top: 12rem;
        right: 18rem;
        z-index: 2;
        border-radius: 50%;
        & .second {
          position: absolute;
          width: 45vw;
          height: 90vh;
          border: 1px solid $Purple_color;
          top: 2.5rem;
          right: 0.5rem;
          z-index: 2;
          border-radius: 50%;
          & .third {
            position: absolute;
            width: 40vw;
            height: 80vh;
            border: 3px solid $Purple_color;
            top: 2.5rem;
            right: 0.5rem;
            z-index: 2;
            border-radius: 50%;
            & .t_circle {
              position: absolute;
              width: 35vw;
              height: 70vh;
              background-color: #d5dcdc;
              top: 2.5rem;
              right: 2rem;
              z-index: 2;
              border-radius: 50%;
              box-shadow: -8px -1px 8px -3px rgba(0, 0, 0, 0.43);

              & .text {
                position: absolute;

                & .p1 {
                  position: absolute;
                  top: 15rem;
                  right: -5rem;
                  @include verticle;
                  font-weight: 700;
                }
                & .p2 {
                  position: absolute;
                  top: 15rem;
                  right: -8rem;
                  @include verticle;
                  font-weight: 300;
                }
              }
            }
          }
        }
      }
    }

    & .circle2 {
      position: absolute;
      width: 75vw;
      height: 150vh;
      top: 0rem;
      right: 28rem;
      background-color: transparent;
      border-radius: 50%;
      z-index: none;
      outline: #d5dcdc solid 7rem;
    }
  }
}

// / Extra small devices (phones, 600px and down) /
@media only screen and (max-width: 600px) {
  .banner_section {
    height: auto;
  }
}
