@mixin common {
  font-family: $Open_Font;
  text-transform: uppercase;
  color: $Purple_color;
  letter-spacing: 0.25rem;
  font-size: 3rem;
}

.position_section {
  position: relative;
  overflow: hidden;

  & .circle {
    position: absolute;
    top: 5rem;
    left: 17.2rem;
    width: 1%;
    height: 3%;
    border-radius: 50%;
    background-color: $Purple_color;
  }

  & .circle2 {
    position: absolute;
    top: 28rem;
    left: 40rem;
    width: 1%;
    height: 3%;
    border-radius: 50%;
    background-color: $Purple_color;
  }

  & .strightText {
    font-family: $Open_Font;
    text-transform: uppercase;
    color: $Purple_color;
    font-size: 1rem;
    text-orientation: upright;
    writing-mode: vertical-rl;
    display: inline-block;
    top: 30rem;
    left: 10rem;
    position: absolute;
    letter-spacing: 10px;
    line-height: 33px;
  }

  & .shape {
    background-image: url(../Assets/positionSection/2.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 80vh;
    width: 50vw;
    top: 0;
    right: -12rem;
  }

  & .position_container {
    display: flex;
    padding: 2rem;
    // position: relative;
    // border: 1px solid black;

    & .position_items {
      justify-content: space-around;

      & .title {
        @include common;
        font-weight: 700;
      }

      & .subTitle {
        @include common;
        font-weight: 300;
      }

      & .Kundalini_title {
        margin-top: 3rem;
        @include common;
        font-weight: 700;

        & .light {
          font-weight: 300;
        }
      }

      & .Kundalini_desc {
        font-family: $Open_Font;
        color: $Purple_color;
        letter-spacing: 0.1rem;
        font-weight: 400;
        line-height: 2rem;
        margin-top: 1rem;
      }

      & .lines {
        color: $Purple_color;
      }

      & .after_lines {
        margin-top: 1rem;
        font-family: $Open_Font;
        color: $Purple_color;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 32px;
      }

      & .items_container {
        display: flex;

        & .items {
          margin-top: 1.5rem;
          display: inline-block;
          text-align: left;
          font-family: $Open_Font;
          color: $Purple_color;
          font-weight: 700;
          line-height: 23px;
          letter-spacing: 2px;
          justify-content: space-around;

          & .light {
            font-weight: 300;
          }
        }

        & .center_div {
          margin-left: 2rem;
        }
      }
    }

    & .right_side_float {
      // background-image: url(../Assets/positionSection/mediamodifier_cropped_image.png);
      // background-repeat: no-repeat;
      // float: right;
      margin-left: 20rem;
      // width: 20vw;
      // position: absolute;
      // right: -17rem;
    }

    & .left_side_float {
      float: left;

      & .leftoutsideout {
        margin-left: 10rem;
        border: 1px solid $Purple_color;
        padding: 1rem;
        border-radius: 50%;

        & .leftOutside {
          border: 1px solid $Purple_color;
          padding: 1rem;
          border-radius: 50%;

          & .leftInside {
            border: 1px solid $Purple_color;
            padding: 1rem;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
