@mixin common {
  font-family: $Open_Font;
  text-transform: uppercase;
  color: $Purple_color;
  letter-spacing: 0.25rem;
  font-size: 3rem;
}

.position_section {
  & .position_container {
    display: flex;
    padding: 2rem;
    // border: 1px solid black;

    & .position_items {
      justify-content: space-around;

      & .title {
        @include common;
        font-weight: 700;
      }

      & .subTitle {
        @include common;
        font-weight: 300;
      }

      & .Kundalini_title {
        margin-top: 3rem;
        @include common;
        font-weight: 700;

        & .light {
          font-weight: 300;
        }
      }

      & .Kundalini_desc {
        font-family: $Open_Font;
        color: $Purple_color;
        letter-spacing: 0.1rem;
        font-weight: 400;
        line-height: 2rem;
        margin-top: 1rem;
      }

      & .lines {
        color: $Purple_color;
      }

      & .after_lines {
        margin-top: 1rem;
        font-family: $Open_Font;
        color: $Purple_color;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 32px;
      }

      & .items_container {
        display: flex;

        & .items {
          margin-top: 1.5rem;
          display: inline-block;
          text-align: left;
          font-family: $Open_Font;
          color: $Purple_color;
          font-weight: 700;
          line-height: 23px;
          letter-spacing: 2px;
          justify-content: space-around;

          & .light {
            font-weight: 300;
          }
        }

        & .center_div {
          margin-left: 2rem;
        }
      }
    }

    & .right_side_float {
      // background-image: url(../Assets/positionSection/mediamodifier_cropped_image.png);
      // background-repeat: no-repeat;
      float: right;
      margin-left: 20rem;
      // width: 50vw;
    }

    & .left_side_float {
      float: left;

      & .leftoutsideout {
        margin-left: 10rem;
        border: 1px solid $Purple_color;
        padding: 1rem;
        border-radius: 50%;

        & .leftOutside {
          border: 1px solid $Purple_color;
          padding: 1rem;
          border-radius: 50%;

          & .leftInside {
            border: 1px solid $Purple_color;
            padding: 1rem;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
