@mixin common {
  font-family: $Open_Font;
  text-transform: uppercase;
  color: $Purple_color;
  letter-spacing: 0.25rem;
  font-size: 3rem;
}

.practice_section {
  background-image: url(../Assets/Practice_Section/new.png);
  background-repeat: no-repeat;
  margin-top: -9rem;
  margin-left: -6rem;
  // border: 1px solid black;
  & .practice_container {
    display: flex;
    // margin: 1rem 4rem;
    padding: 14rem;
    // border: 1px solid black;

    & .practice_items {
      justify-content: space-around;
      // border: 1px solid black;

      & .title {
        @include common;
        font-weight: 700;
      }

      & .subTitle {
        @include common;
        font-weight: 300;
      }

      & .hatha_title {
        margin-top: 3rem;
        @include common;
        font-weight: 700;

        & .light {
          font-weight: 300;
        }
      }

      & .hatha_desc {
        font-family: $Open_Font;
        color: $Purple_color;
        letter-spacing: 0.1rem;
        font-weight: 400;
        line-height: 2rem;
        margin-top: 1rem;
      }

      & .lines {
        color: $Purple_color;
      }

      & .after_lines {
        margin-top: 1rem;
        font-family: $Open_Font;
        color: $Purple_color;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 32px;
      }

      & .items_container {
        display: flex;

        & .items {
          margin-top: 1.5rem;
          display: inline-block;
          text-align: left;
          font-family: $Open_Font;
          color: $Purple_color;
          font-weight: 700;
          line-height: 23px;
          letter-spacing: 2px;
          justify-content: space-around;

          & .light {
            font-weight: 300;
          }
        }

        & .center_div {
          margin-left: 2rem;
        }
      }
    }

    & .right_side_flex {
      // border: 1px solid black;
      margin-left: 25rem;
      & .rightoutsideout {
        margin-left: 10rem;
        border: 1px solid $Purple_color;
        padding: 1rem;
        border-radius: 50%;

        & .rightOutside {
          border: 1px solid $Purple_color;
          padding: 1rem;
          border-radius: 50%;

          & .rightInside {
            border: 1px solid $Purple_color;
            padding: 1rem;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
