@mixin common {
  font-family: $Open_Font;
  text-transform: uppercase;
  color: $Purple_color;
  font-size: 2.5rem;
  letter-spacing: 4px;
  line-height: 58px;
}

.workshop_class {
  & .workshop_container {
    display: flex;
    margin: 1rem 4rem;
    padding: 2rem;
    position: relative;

    & .workshop_items {
      justify-content: space-around;

      & .straight {
        font-family: $Open_Font;
        text-transform: uppercase;
        color: $Purple_color;
        font-size: 0.8rem;
        text-orientation: upright;
        writing-mode: vertical-rl;
        display: inline-block;
        top: 0;
        position: absolute;
        letter-spacing: 10px;
        line-height: 33px;
      }

      & .title {
        font-weight: 300;
        @include common;
        display: inline-block;
        margin-left: 1.5rem;
        top: 0;
        left: 50px;
        position: absolute;
      }

      & .dark {
        font-weight: 700;
        @include common;
        display: inline-block;
      }

      & .para_try {
        font-size: 1.2rem;
        font-weight: 700;
        font-family: $Open_Font;
        color: $Purple_color;
        position: absolute;
        top: 135px;
        left: 75px;
        letter-spacing: 2px;
        line-height: 32px;
      }

      & .dates {
        font-family: $Open_Font;
        color: $Purple_color;
        position: absolute;
        top: 220px;
        left: 75px;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 32px;
        font-size: 1.2rem;
      }
    }
  }
}
