.nav .line {
  background-color: #745a82;
  width: 100%;
  height: 0.8rem;
}

.nav .nav-container {
  width: 100%;
  box-shadow: 2px 6px 13px -6px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 10;
}

.nav .nav-container .navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 5rem;
  width: 90%;
  max-width: 108rem;
  margin: 0 auto;
}

.nav .nav-container .navbar .nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.nav .nav-container .navbar .nav-menu .nav-links {
  text-decoration: none;
}

.nav .nav-container .navbar .nav-menu .nav-links::after {
  content: '';
  width: 0%;
  height: 0.2rem;
  background: #baadc1;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav .nav-container .navbar .nav-menu .nav-links:hover::after {
  width: 30%;
}

.nav .nav-container .navbar .menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-out;
  background: #745a82;
}

.nav .nav-container .navbar-logo img {
  justify-self: start;
}

@media screen and (max-width: 768px) {
  .nav .nav-container .navbar {
    width: 100%;
  }
  .nav .nav-container .navbar .nav-menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    background: #baadc1;
    width: 100%;
    position: absolute;
    top: 5rem;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .nav .nav-container .navbar .nav-menu.active {
    background: #745a82;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav .nav-container .navbar .nav-menu .nav-links {
    text-align: center;
    line-height: 4rem;
    color: white;
    width: 100%;
    display: table;
  }
  .nav .nav-container .navbar .nav-menu .nav-links:hover {
    background-color: #baadc1;
    color: white;
    transition: all 0.4 ease-out;
  }
  .nav .nav-container .navbar #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .nav .nav-container .navbar #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav .nav-container .navbar #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .nav .nav-container .navbar #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav .nav-container .navbar .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }
  .nav .nav-container .navbar .menu-toggle .bar:hover {
    cursor: pointer;
  }
  .nav .nav-container .navbar-logo img {
    margin-left: 1rem;
  }
}

.banner_section {
  box-shadow: 2px 6px 13px -6px rgba(0, 0, 0, 0.4);
  background: url(../Assets/Banner_Section/back.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.banner_section .main_div {
  position: absolute;
  width: 75vw;
  height: 150vh;
  background-color: #d5dcdc;
  top: -10rem;
  left: -50rem;
  border-radius: 50%;
}

.banner_section .main_div .circle {
  position: absolute;
  width: 75vw;
  height: 150vh;
  top: 0rem;
  left: -7rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: 8px -1px 14px -3px rgba(0, 0, 0, 0.43);
}

.banner_section .main_div .circle .logo_div {
  position: absolute;
  top: 13rem;
  left: 59rem;
  margin: 2rem;
}

.banner_section .main_div .circle .logo_div .dots {
  position: absolute;
  top: -2rem;
  left: -2rem;
}

.banner_section .main_div .circle .logo_div .logo {
  height: 40%;
  width: 40%;
}

.banner_section .main_div .circle .text_div {
  position: absolute;
  top: 20rem;
  left: 59rem;
  margin: 6rem 2rem 2rem 2rem;
  height: 50vh;
  width: 18vw;
}

.banner_section .main_div .circle .text_div .title {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  text-transform: uppercase;
  letter-spacing: 15px;
  line-height: 50px;
}

.banner_section .main_div .circle .text_div .sub_title {
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.banner_section .main_div .circle .text_div .desc {
  margin-top: 1.5rem;
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.banner_section .main_div .circle .text_div button {
  padding: 0.7rem;
  background-color: #745a82;
  color: white;
  margin: 1rem 0 1rem -1rem;
  border-radius: 2rem;
  width: 14rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  box-shadow: 25px 18px 31px -15px rgba(0, 0, 0, 0.33);
  cursor: pointer;
  transition: 0.4s;
}

.banner_section .main_div .circle .text_div button:hover {
  color: #745a82;
  background-color: white;
  border: 2px solid #745a82;
  box-sizing: border-box;
}

.banner_section .main_div .circle .text_div .address {
  margin-top: 3rem;
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.banner_section .main_div .circle .text_div .site {
  margin-top: 3rem;
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  font-weight: 700;
  font-size: 0.8rem;
}

.banner_section .right_div {
  position: absolute;
  width: 75vw;
  height: 150vh;
  background-color: #d5dcdc;
  top: -10rem;
  right: -40rem;
  border-radius: 50%;
}

.banner_section .right_div .circle {
  position: absolute;
  width: 75vw;
  height: 150vh;
  top: 0rem;
  right: -9rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: -8px -1px 8px -3px rgba(0, 0, 0, 0.43);
  z-index: 1;
}

.banner_section .right_div .circle .first {
  position: absolute;
  width: 50vw;
  height: 100vh;
  border: 1px solid #745a82;
  top: 12rem;
  right: 18rem;
  z-index: 2;
  border-radius: 50%;
}

.banner_section .right_div .circle .first .second {
  position: absolute;
  width: 45vw;
  height: 90vh;
  border: 1px solid #745a82;
  top: 2.5rem;
  right: 0.5rem;
  z-index: 2;
  border-radius: 50%;
}

.banner_section .right_div .circle .first .second .third {
  position: absolute;
  width: 40vw;
  height: 80vh;
  border: 3px solid #745a82;
  top: 2.5rem;
  right: 0.5rem;
  z-index: 2;
  border-radius: 50%;
}

.banner_section .right_div .circle .first .second .third .t_circle {
  position: absolute;
  width: 35vw;
  height: 70vh;
  background-color: #d5dcdc;
  top: 2.5rem;
  right: 2rem;
  z-index: 2;
  border-radius: 50%;
  box-shadow: -8px -1px 8px -3px rgba(0, 0, 0, 0.43);
}

.banner_section .right_div .circle .first .second .third .t_circle .text {
  position: absolute;
}

.banner_section .right_div .circle .first .second .third .t_circle .text .p1 {
  position: absolute;
  top: 15rem;
  right: -5rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  font-size: 1.5rem;
  font-weight: 700;
}

.banner_section .right_div .circle .first .second .third .t_circle .text .p2 {
  position: absolute;
  top: 15rem;
  right: -8rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  font-size: 1.5rem;
  font-weight: 300;
}

.banner_section .right_div .circle2 {
  position: absolute;
  width: 75vw;
  height: 150vh;
  top: 0rem;
  right: 28rem;
  background-color: transparent;
  border-radius: 50%;
  z-index: none;
  outline: #d5dcdc solid 7rem;
}

@media only screen and (max-width: 600px) {
  .banner_section {
    height: auto;
  }
}

.yoga_class .pic {
  background-image: url(../Assets/Shape.svg);
  height: 35vh;
  width: 100%;
  transform: rotate(180deg);
  padding: 1.5rem;
}

.yoga_class .pic .yoga_title {
  transform: rotate(180deg);
  text-align: center;
  margin-top: 5rem;
}

.yoga_class .pic .yoga_title .para_1 {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  letter-spacing: 0.25rem;
  font-size: 2.5rem;
}

.yoga_class .pic .yoga_title .para_2 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  letter-spacing: 0.25rem;
  font-size: 2.5rem;
}

.yoga_class .yoga_main_container {
  padding: 1rem 5rem;
  margin-top: 4rem;
  margin-left: 6rem;
  display: flex;
  justify-content: space-around;
}

.yoga_class .yoga_main_container .yoga_main_items .yoga_img {
  height: 50%;
  width: 55%;
  border-radius: 50%;
}

.yoga_class .yoga_main_container .yoga_main_items .slide_left {
  margin-left: 1rem;
}

.yoga_class .yoga_main_container .yoga_main_items .slide_left .yoga_class_title {
  margin-top: 1.1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #745a82;
  font-size: 1.5rem;
}

.yoga_class .yoga_main_container .yoga_main_items .slide_left .yoga_class_desc {
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #745a82;
  font-size: 1.2rem;
}

.yoga_class .yoga_main_container .yoga_main_items .slide_left .yoga_line {
  margin-top: 1rem;
  background-color: #745a82;
  height: 1px;
}

.yoga_class .yoga_main_container .yoga_main_items .slide_left .yoga_day {
  margin-top: 0.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #745a82;
  font-size: 1.3rem;
}

.yoga_class .yoga_main_container .yoga_main_items .slide_left .yoga_day .yoga_time {
  margin-left: 0.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #745a82;
}

.yoga_class .button_div {
  text-align: center;
  margin-top: 5rem;
}

.yoga_class .button_div .yoga_show_button {
  color: white;
  background-color: #745a82;
  padding: 1rem;
  border-radius: 2rem;
  width: 15%;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 5px;
  line-height: 1.3rem;
  border: none;
  text-transform: uppercase;
  box-shadow: 10px;
  box-shadow: 25px 18px 31px -15px rgba(0, 0, 0, 0.33);
  cursor: pointer;
  transition: 0.4s;
}

.yoga_class .button_div .yoga_show_button:hover {
  color: #745a82;
  background-color: white;
  border: 2px solid #745a82;
  box-sizing: border-box;
}

.summer_class .summer_title {
  text-align: center;
  margin: 4rem 0 0 0;
}

.summer_class .summer_title .para_1 {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  letter-spacing: 0.25rem;
  font-size: 2.5rem;
}

.summer_class .summer_title .para_2 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  letter-spacing: 0.25rem;
  font-size: 2.5rem;
}

.summer_class .summer_main_container {
  padding: 1rem 5rem;
  margin-top: 4rem;
  margin-left: 3rem;
  display: flex;
  justify-content: space-around;
}

.summer_class .summer_main_container .summer_main_items .summer_img {
  height: 50%;
  width: 80%;
  border-radius: 50%;
}

.summer_class .summer_main_container .summer_main_items .summer_join {
  margin-left: 1rem;
}

.summer_class .summer_main_container .summer_main_items .summer_join .summer_class_title {
  margin-top: 1.1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #745a82;
  font-size: 1.5rem;
}

.summer_class .summer_main_container .summer_main_items .summer_join .summer_class_desc {
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #745a82;
  font-size: 1.2rem;
}

.summer_class .summer_main_container .summer_main_items .summer_join .summer_line {
  margin-top: 1rem;
  color: #745a82;
}

.summer_class .summer_main_container .summer_main_items .summer_join .summer_day {
  margin-top: 0.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #745a82;
  font-size: 1.3rem;
}

.summer_class .summer_main_container .summer_main_items .summer_join .summer_day .summer_time {
  margin-left: 0.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #745a82;
}

.summer_class .button_div {
  text-align: center;
  margin-top: 5rem;
}

.summer_class .button_div .summer_show_button {
  color: white;
  background-color: #745a82;
  padding: 1rem;
  border-radius: 2rem;
  width: 15%;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 5px;
  line-height: 1.3rem;
  border: none;
  text-transform: uppercase;
  box-shadow: 10px;
  margin-bottom: 2rem;
  box-shadow: 25px 18px 31px -15px rgba(0, 0, 0, 0.33);
  cursor: pointer;
  transition: 0.4s;
}

.summer_class .button_div .summer_show_button:hover {
  color: #745a82;
  background-color: white;
  border: 2px solid #745a82;
  box-sizing: border-box;
}

.health_section {
  position: relative;
}

.health_section .health_line {
  height: 0.2rem;
  width: 40%;
  top: 0;
  left: 6rem;
  background-color: #745a82;
  margin-top: 2rem;
  position: absolute;
}

.health_section .health_line2 {
  height: 0.2rem;
  width: 40%;
  background-color: #745a82;
  margin-top: 2rem;
  position: absolute;
  top: 0;
  right: 6rem;
}

.health_section .health_title {
  text-align: center;
  margin: 2rem 0 0 0;
}

.health_section .health_title .para_1 {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  line-height: 46px;
}

.health_section .health_title .para_2 {
  font-weight: 300;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  line-height: 46px;
}

.health_section .health_container {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  margin-left: 2rem;
  padding: 1rem 1rem;
}

.health_section .health_container .health_items .health_img {
  width: 60%;
  height: 55%;
  margin: 0 auto;
  align-self: center;
  display: block;
}

.health_section .health_container .health_items .health_item_title {
  margin-top: 1rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #745a82;
  font-weight: 700;
  text-transform: uppercase;
}

.health_section .health_container .health_items .health_para {
  margin-top: 1rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #745a82;
  font-weight: 300;
}

.practice_section {
  background-image: url(../Assets/Practice_Section/new.png);
  background-repeat: no-repeat;
  margin-top: -9rem;
  margin-left: -6rem;
}

.practice_section .practice_container {
  display: flex;
  padding: 14rem;
}

.practice_section .practice_container .practice_items {
  justify-content: space-around;
}

.practice_section .practice_container .practice_items .title {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  font-weight: 700;
}

.practice_section .practice_container .practice_items .subTitle {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  font-weight: 300;
}

.practice_section .practice_container .practice_items .hatha_title {
  margin-top: 3rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  font-weight: 700;
}

.practice_section .practice_container .practice_items .hatha_title .light {
  font-weight: 300;
}

.practice_section .practice_container .practice_items .hatha_desc {
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  letter-spacing: 0.1rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 1rem;
}

.practice_section .practice_container .practice_items .lines {
  color: #745a82;
}

.practice_section .practice_container .practice_items .after_lines {
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 32px;
}

.practice_section .practice_container .practice_items .items_container {
  display: flex;
}

.practice_section .practice_container .practice_items .items_container .items {
  margin-top: 1.5rem;
  display: inline-block;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 2px;
  justify-content: space-around;
}

.practice_section .practice_container .practice_items .items_container .items .light {
  font-weight: 300;
}

.practice_section .practice_container .practice_items .items_container .center_div {
  margin-left: 2rem;
}

.practice_section .practice_container .right_side_flex {
  margin-left: 25rem;
}

.practice_section .practice_container .right_side_flex .rightoutsideout {
  margin-left: 10rem;
  border: 1px solid #745a82;
  padding: 1rem;
  border-radius: 50%;
}

.practice_section .practice_container .right_side_flex .rightoutsideout .rightOutside {
  border: 1px solid #745a82;
  padding: 1rem;
  border-radius: 50%;
}

.practice_section .practice_container .right_side_flex .rightoutsideout .rightOutside .rightInside {
  border: 1px solid #745a82;
  padding: 1rem;
  border-radius: 50%;
}

.position_section .position_container {
  display: flex;
  padding: 2rem;
}

.position_section .position_container .position_items {
  justify-content: space-around;
}

.position_section .position_container .position_items .title {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  font-weight: 700;
}

.position_section .position_container .position_items .subTitle {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  font-weight: 300;
}

.position_section .position_container .position_items .Kundalini_title {
  margin-top: 3rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  font-weight: 700;
}

.position_section .position_container .position_items .Kundalini_title .light {
  font-weight: 300;
}

.position_section .position_container .position_items .Kundalini_desc {
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  letter-spacing: 0.1rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 1rem;
}

.position_section .position_container .position_items .lines {
  color: #745a82;
}

.position_section .position_container .position_items .after_lines {
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 32px;
}

.position_section .position_container .position_items .items_container {
  display: flex;
}

.position_section .position_container .position_items .items_container .items {
  margin-top: 1.5rem;
  display: inline-block;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 2px;
  justify-content: space-around;
}

.position_section .position_container .position_items .items_container .items .light {
  font-weight: 300;
}

.position_section .position_container .position_items .items_container .center_div {
  margin-left: 2rem;
}

.position_section .position_container .right_side_float {
  float: right;
  margin-left: 20rem;
}

.position_section .position_container .left_side_float {
  float: left;
}

.position_section .position_container .left_side_float .leftoutsideout {
  margin-left: 10rem;
  border: 1px solid #745a82;
  padding: 1rem;
  border-radius: 50%;
}

.position_section .position_container .left_side_float .leftoutsideout .leftOutside {
  border: 1px solid #745a82;
  padding: 1rem;
  border-radius: 50%;
}

.position_section .position_container .left_side_float .leftoutsideout .leftOutside .leftInside {
  border: 1px solid #745a82;
  padding: 1rem;
  border-radius: 50%;
}

.workshop_class {
  height: 80vh;
  padding: 3rem;
  margin: 4rem;
}

.workshop_class .workshop_container {
  display: flex;
  margin: 1rem 4rem;
  padding: 2rem;
}

.workshop_class .workshop_container .workshop_items {
  justify-content: space-around;
  position: relative;
}

.workshop_class .workshop_container .workshop_items .left_side {
  position: relative;
  border: 1px solid black;
}

.workshop_class .workshop_container .workshop_items .left_side .straight {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  font-size: 0.8rem;
  text-orientation: upright;
  writing-mode: vertical-rl;
  display: inline-block;
  top: 0;
  position: absolute;
  letter-spacing: 10px;
  line-height: 33px;
}

.workshop_class .workshop_container .workshop_items .left_side .title {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  font-size: 2.5rem;
  letter-spacing: 4px;
  line-height: 58px;
  display: inline-block;
  margin-left: 3.5rem;
  top: 10px;
  left: 50px;
  width: 20vw;
  position: absolute;
  margin-top: -20px;
}

.workshop_class .workshop_container .workshop_items .left_side .dark {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  font-size: 2.5rem;
  letter-spacing: 4px;
  line-height: 58px;
  display: inline-block;
}

.workshop_class .workshop_container .workshop_items .left_side .para_try {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  position: absolute;
  top: 135px;
  left: 105px;
  letter-spacing: 2px;
  line-height: 32px;
  width: 20vw;
}

.workshop_class .workshop_container .workshop_items .left_side .dates {
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  position: absolute;
  top: 220px;
  left: 105px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 32px;
  font-size: 1.2rem;
}

.workshop_class .workshop_container .workshop_items .rightoutsideout {
  border: 1px solid #745a82;
  padding: 1rem;
  border-radius: 50%;
  margin-left: 55rem;
}

.workshop_class .workshop_container .workshop_items .rightoutsideout .rightoutside {
  border: 1px solid #745a82;
  padding: 1rem;
  border-radius: 50%;
}

.workshop_class .workshop_container .workshop_items .rightoutsideout .rightoutside .rightout {
  border: 2px solid #6d5a80;
  padding: 0.5rem;
  border-radius: 50%;
}

.workshop_class .workshop_container .workshop_items .rightoutsideout .rightoutside .rightout .rightlast {
  border: 1px solid #745a82;
  padding: 1rem;
  border-radius: 50%;
}

.workshop_class .workshop_container .workshop_items .rightoutsideout .rightoutside .rightout .rightlast .inner .right {
  right: 400px;
}

.workshop_class .workshop_container .workshop_items .rightoutsideout .rightoutside .rightout .rightlast .inner .inner_Circle {
  border: 1px solid black;
}

.workshop_class .workshop_container .workshop_items .circle {
  position: absolute;
  top: 5rem;
  right: 3rem;
  width: 1%;
  height: 3%;
  border-radius: 50%;
  background-color: #745a82;
}

.workshop_class .workshop_container .workshop_items .circle2 {
  position: absolute;
  top: 25rem;
  right: 25.5rem;
  width: 1%;
  height: 3%;
  border-radius: 50%;
  background-color: #745a82;
}

.workshop_class .workshop_container .workshop_items .straightfont {
  position: absolute;
  top: 18rem;
  right: -7rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  font-size: 1.2rem;
  text-orientation: upright;
  writing-mode: vertical-rl;
  letter-spacing: 10px;
  line-height: 33px;
}

.footer {
  margin: 0rem 4rem 4rem 4rem;
  position: relative;
}

.footer .quotes_part {
  margin-top: 5rem;
  text-align: center;
}

.footer .quotes_part .upper_image {
  margin: 1rem;
}

.footer .quotes_part .quote {
  margin: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 42px;
  text-transform: uppercase;
}

.footer .quotes_part .quote_sign {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  color: #745a82;
  font-weight: 700;
}

.footer .footer_container {
  display: flex;
}

.footer .footer_container .footer_items {
  margin: 2rem 4rem;
}

.footer .footer_container .footer_items .title {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  font-weight: 700;
  font-size: 1.5rem;
}

.footer .footer_container .footer_items .desc {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
  font-weight: 400;
  font-size: 1rem;
  line-height: 29px;
  text-transform: capitalize;
}

.footer .footer_container .footer_items .footer_logo {
  margin-top: 2rem;
}

.footer .footer_container .rightside {
  margin-left: 33rem;
}

.footer .footer_container .rightside .about_design {
  margin: 3rem;
  display: inline-block;
  align-self: flex-end;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #745a82;
}

.footer .footer_container .rightside .about_design p {
  font-size: 1rem;
  font-weight: 700;
}

.footer .footer_container .rightside .about_design ul {
  margin-top: 1rem;
}

.footer .footer_container .rightside .about_design ul li {
  font-size: 0.8rem;
  font-weight: 400;
  list-style-type: none;
  line-height: 23px;
}

.line {
  background-color: #745a82;
  width: 100%;
  height: 1.5rem;
}

.middle_banner {
  margin: 6rem 0 4rem 0;
}

.middle_banner .img_back {
  background: url(../Assets/Middle_banner/1.jpg) no-repeat scroll 0 0/cover;
  width: 100%;
  height: 140vh;
  position: relative;
  overflow: hidden;
}

.middle_banner .img_back .front_image {
  background: url(../Assets/Middle_banner/Shape.svg) no-repeat scroll 0 0/cover;
  width: 150vw;
  height: 110vh;
  top: -15rem;
  left: -30rem;
  position: absolute;
  z-index: 2;
}

.middle_banner .img_back .outsidecircle {
  width: 25vw;
  height: 50vh;
  position: absolute;
  z-index: 4;
  border-radius: 60%;
  border: 1px solid #6d5a80;
  top: 1rem;
  left: 8rem;
}

.middle_banner .img_back .outsidecircle .outcircle {
  width: 20vw;
  height: 40vh;
  position: absolute;
  z-index: 5;
  border-radius: 60%;
  border: 2px solid #6d5a80;
  top: 3rem;
  left: 3rem;
}

.middle_banner .img_back .outsidecircle .outcircle .make_circle {
  width: 15vw;
  height: 30vh;
  position: absolute;
  z-index: 4;
  border-radius: 60%;
  top: 3rem;
  left: 3rem;
  background-color: white;
  box-shadow: 25px 18px 31px -15px rgba(0, 0, 0, 0.33);
}

.middle_banner .img_back .outsidecircle .outcircle .make_circle .off {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #745a82;
  margin-top: 3rem;
  margin-left: 4rem;
}

.middle_banner .img_back .outsidecircle .outcircle .make_circle .off .light {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.middle_banner .img_back .outsidecircle .outcircle .make_circle .lightsmall {
  font-family: "Open Sans", sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-left: 7rem;
  color: #745a82;
}

.middle_banner .img_back .summer_class_time {
  position: relative;
}

.middle_banner .img_back .summer_class_time .summer_title {
  color: white;
  position: absolute;
  top: 35rem;
  left: 17rem;
  z-index: 5;
  font-family: "Open Sans", sans-serif;
  font-size: 2.3rem;
  letter-spacing: 4px;
  line-height: 3.5rem;
  font-weight: 700;
}

.middle_banner .img_back .summer_class_time .summer_title span {
  font-weight: 300;
}

.middle_banner .img_back .summer_class_time .summer_dates {
  color: white;
  position: absolute;
  top: 45rem;
  left: 17rem;
  z-index: 5;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 2.5rem;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */