@import 'colors';
@import 'fonts';
@import 'navbar';
@import 'banner';
@import 'yogaclass';
@import 'summerclass';
@import 'healthylife';
@import 'practiceDynamics';
@import 'position';
@import 'workshop';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
